hall-webservice/src/main/resources/nirvana/hall/webservice/webservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        id="webservice">
    <xs:include schemaLocation="monad.xsd"/>
    <xs:element name="hall_webservice" type="hallWebserviceType"/>
    <xs:complexType name="hallWebserviceType">
        <xs:sequence>

            <xs:element type="xs:string" name="log_file" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>配置日志文件的路径</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="local_store_dir" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>本地化存储的配置</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="webType" name="web" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>配置Web服务器相关参数</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="union4pfmipType" name="union4pfmip" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>配置Webservice服务器相关参数</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element type="handprintServiceType" name="handprintService" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>配置Webservice服务器相关参数</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="quickMatchServiceType" name="quickMatchService" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>重庆快比指纹系统对接服务相关参数</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xingZhuanConfigType" name="xing_zhuan" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>刑专接口配置</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element type="xs:string" name="hall_image_url" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>配置hall-image服务器地址</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="local_tenprint_path" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>本地十指指纹FPT路径</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="local_latent_path" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>本地现场指纹FPT路径</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="local_hit_result_path" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>本地比对关系指纹FPT路径</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="xc_hit_result_path" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>外省比对关系指纹FPT路径</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="is_save_fpt" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>是否将FPT保存到本地</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="template_finger_database_id" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>6.2中捺印逻辑库id</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="local_xkFinger_list_path" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>本地现勘数据列表zip路径</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="union4pfmipType">
        <xs:sequence>
            <xs:element type="cronType" name="cron" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>获取比对任务定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="url" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>URL配置</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="target_namespace" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>targetNamespace配置</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="user" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>用户名</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="password" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>密码</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="dateLimit" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>上报数据年限</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="TenPrintPrex" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>十指指纹前缀(区分本地数据与外省数据）</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="LatentPrex" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>本地现场指纹案件号前缀(区分本地数据与外省数据）</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="send_checkin_cron" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>获取协查比对关系任务定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="upload_checkin_cron" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>获取上报比对关系任务定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="handprintServiceType">
        <xs:sequence>
            <xs:element type="cronType" name="cron" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>调用现勘服务的定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="cronType" name="get_caseno_cron" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>调用现勘服务获取caseno的定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="cronType" name="send_hit_cron" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>调用现勘服务推送比中关系的定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="cronType" name="get_latent_package_cron" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>调用现勘服务现场数据FPT包的定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="cronType" name="check_haixin_service_cron" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>检查现勘服务是否正常的定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="area" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>所属区域</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="url" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>URL配置</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="target_namespace" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>targetNamespace配置</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="user" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>用户名</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="password" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>密码</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="local_store_dir" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>数据存储路径(zip，xml)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="data_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>查询指掌纹类型</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="is_check_asjbh" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>是否校验警综案事件编号</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="is_delete_list_zip" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>是否删除现勘列表压缩包</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:boolean" name="is_delete_file_zip" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>是否删除fptx文件压缩包</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="surveyV62ServerConfigType" name = "survey_v62_server" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>现勘6.2应用服务器配置</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="surveyHitResultHeadPackageInfo" name = "survey_hit_result_head_info" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>比中关系头信息</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="platform_operatorinfo_provider_class" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>平台操作信息提供类</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="surveyV62ServerConfigType">
        <xs:sequence>
            <xs:element type="V62ServerType" name="app_server" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>6.2应用服务器的主机地址</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="surveyConfigType" name = "survey_config" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>现勘配置信息</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="V62ServerType">
        <xs:sequence>
            <xs:element type="xs:string" name="host" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>6.2应用服务器的主机地址</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:integer" name="port" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>6.2应用服务器的端口</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:integer" name="connection_timeout_secs" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>6.2应用服务器连接超时设置</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:integer" name="read_timeout_secs" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>6.2应用服务器读取数据超时设置</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="user" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>6.2应用服务器的用户名</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="password" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>6.2应用服务器的密码</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="surveyConfigType">
        <xs:sequence>
            <xs:element type="xs:string" name="unit_code" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>单位代码</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="start_time" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>开始时间</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="end_time" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>结束时间</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="config" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>服务器配置信息</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xingZhuanConfigType">
        <xs:sequence>
            <xs:element type="xs:string" name="url" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>url</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="target_namespace" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>targetNamespace</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="user" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>userId</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="password" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>password</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="surveyHitResultHeadPackageInfo">
        <xs:sequence>
            <xs:element type="xs:string" name="send_unit_code" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>发送单位代码</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="send_unit_name" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>发送单位名称</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="send_person_name" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>发送人姓名</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="send_person_idcard" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>发送人身份证号</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="send_person_tel" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>发送人联系电话</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="quickMatchServiceType">
        <xs:sequence>
            <xs:element type="cronType" name="send_package_cron" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>推送现场数据服务的定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="cronType" name="get_hitresult_cron" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>获得比中关系服务的定时计划</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="create_user" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>快比系统创建人</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="create_unit_code" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>快比系统创建人单位代码</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="kb_name" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>快比系统客户名称</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>