hall-api/src/main/resources/nirvana/hall/api/api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    id="sync">
  <xs:include schemaLocation="monad.xsd"/>
  <xs:element name="suowen_api" type="suowenApiType"/>
  <xs:complexType name="suowenApiType">
    <xs:sequence>
      <xs:element type="xs:string" name="log_file" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>配置日志文件的路径</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="local_store_dir" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>本地化存储的配置</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="webType" name="web" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>配置Web服务器相关参数</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="apiType" name="api" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>api 相关参数配置</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="apiType">
    <xs:sequence>
      <xs:element type="databaseType" name="database" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>